databases:
  - name: trelloscores_db
    databaseName: trelloscores_db
    user: trelloscores_user
    plan: free

services:
  - type: web
    name: trelloscores_app
    runtime: ruby
    plan: free
    buildCommand: "bundle install && bundle exec rake assets:precompile && bundle exec rails db:migrate"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: trelloscores_db
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
      - key: WEB_CONCURRENCY
        value: "2"