<div class="users-list">
  <% @users.each do |user| %>
    <div class="user-row">
      <div class="user-info">
        <%= link_to user.name, user_path(user), class: "user-name-link" %>
      </div>
      <div class="user-actions">
        <% if current_user && (current_user == user || current_user.admin?) %>
          <%= link_to 'Edit', edit_user_path(user), class: "button" %>
          <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "button" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>